extends ./layout

mixin Keywords(keywords)
  .keywords
    +FontIcon('fa-tags mright5')
    - var last = keywords.length - 1
    each keyword, index in keywords
      a(href='/') #{keyword}
      if index !== last
        span ,
mixin Downloads(downloads)
  .downloads
    each type in ['latest', 'week', 'month', 'quarter']
      div(class=type, title=`the download of ${type}`)
        span.type #{type}
        span.count #{numberFormat(downloads[type])}
    .tips(data-content='The downloads of the moudle, latest, week, month, quarter')
      +FontIcon('fa-question-circle-o')

mixin Modules(items)
  ul
    each item in items
      li
        h4
          a(href=`https://npmjs.org/package/${item.name}`) #{item.name}
          span (#{item.latest.version})
        p #{item.description}
        if item.keywords && item.keywords.length
          +Keywords(item.keywords)
        - var downloads = item.downloads
        if downloads
          +Downloads(downloads)
        .updatedAt update #{moment(item.latest.time).fromNow()} by #{item.author.name}

block bodyContainer
  .home-view
    header.header-wrapper
      .logo npm trend 
      .search-box: .search-component
        button.search
          +FontIcon('fa-search')
        input(type='text')
      .functions
        a(href='https://github.com/vicanso/npm')
          +FontIcon('fa-github')
        a(href='javascript:;')
          +FontIcon('fa-filter')
    
    .modules-wrapper
      - var modules = viewData.items;
      if !modules || !modules.length
        p No modules found
      else
        +Modules(modules)
  - importer.import('/css/home.css');
