extends ./layout

mixin Keywords(keywords)
  .keywords
    +FontIcon('fa-tags mright5')
    - var last = keywords.length - 1
    - var currentKeyword = viewData.query.keyword;
    each keyword, index in keywords
      - var cls = ''
      if keyword === currentKeyword
        a.selected(href=URL('/')) #{keyword}
      else
        a(href=URL(`/?keyword=${keyword}`)) #{keyword}
      if index !== last
        span ,
mixin Downloads(downloads)
  .downloads
    each type in ['latest', 'week', 'month', 'quarter']
      div(class=type, title=`the download of ${type}`)
        span.type #{type}
        span.count #{numberFormat(downloads[type])}

mixin Modules(items)
  ul
    each item in items
      li
        h4
          a(href=`https://npmjs.org/package/${item.name}`) #{item.name}
          span (#{item.latest.version})
          span.tips(data-content=item.about)
            +FontIcon('fa-question-circle-o')
        p #{item.description}
        if item.keywords && item.keywords.length
          +Keywords(item.keywords)
        - var downloads = item.downloads
        if downloads
          +Downloads(downloads)
        .updatedAt update #{moment(item.latest.time).fromNow()} by 
          a.author(href=URL(`/?author=${encodeURIComponent(item.author.name)}`)) #{item.author.name}

mixin HeaderView()
  header.header-wrapper
    .logo npm trend 
    .search-box: .search-component
      button.search
        +FontIcon('fa-search')
      input(type='text')
    .functions
      a(href='https://github.com/vicanso/npm-trend')
        +FontIcon('fa-github')
      a(href='javascript:;').filter
        +FontIcon('fa-filter')

mixin FilterView()
  .filter-wrapper.hidden
    ul(data-type='sort')
      li.name
        +FontIcon('fa-sort')
        | Sort by
      each desc, key in viewData.sorts
        li: a(data-key=key, href='javascript:;') #{desc}

block bodyContainer
  .home-view
    +HeaderView()
    +FilterView()

    .modules-wrapper
      - var modules = viewData.modules;
      if !modules || !modules.length
        p.tac
          +FontIcon('fa-exclamation-triangle mright5')
          | No modules found
      else
        +Modules(modules)
  - importer.import('/css/home.css');
