extends ./layout

mixin Score(scores)
  .score-wrapper
    - var strokeLength = 289.027;
    each name in ['maintenance', 'popularity', 'quality', 'final']
      - var score = scores[name]
      - var offset = (1 - score) * strokeLength;
      .score(title=`${name}:${_.round(score * 100, 2)}%`)
        svg(viewBox='0 0 100 100')
          path(
            d='M 50,50 m 0,-46 a 46,46 0 1 1 0,92 a 46,46 0 1 1 0,-92'
            stroke-width='8'
            fill-opacity='0'
          )
          path.percent(
            d='M 50,50 m 0,-46 a 46,46 0 1 1 0,92 a 46,46 0 1 1 0,-92'
            stroke-width='8'
            fill-opacity='0'
            style=`stroke-dasharray: ${strokeLength}px, ${strokeLength}px; stroke-dashoffset: ${offset}px;`
          )
        .name.font14 #{name.charAt(0).toUpperCase()}

mixin Keywords(keywords)
  .keywords
    +FontIcon('fa-tags mright5')
    - var last = keywords.length - 1
    - var currentKeyword = viewData.query.keyword;
    each keyword, index in keywords
      if keyword === currentKeyword
        a.selected(href=URL('/')) #{keyword}
      else
        a(href=URL(`/?keyword=${keyword}`)) #{keyword}
      if index !== last
        span ,
mixin Counts(downloads, dependedCount)
  .counts
    each type in ['latest', 'week', 'month', 'quarter']
      div(class=type, title=`the download of ${type}`)
        span.type #{type}
        span.count #{numberFormat(downloads[type])}
    .depCount(title='the count of depended')
      span.type dep
      span.count #{numberFormat(dependedCount)}

mixin Modules(items)
  ul
    - var currentAuthor = viewData.query.author;
    each item in items
      li
        h4
          if item.scores
            +Score(item.scores)
          a.module(href=`https://npmjs.org/package/${item.name}`) #{item.name}
          span (#{item.latest.version})
          span.tips(data-content=item.about)
            +FontIcon('fa-question-circle-o')
          a(href='javascript:;', title='show download trend').download-trend
            +FontIcon('fa-area-chart')
          a(href='javascript:;', title='add to compare').compare
            +FontIcon('fa-link')
          a(href='javascript:;', title='star the module').star
            +FontIcon('fa-star')
        p #{item.description}
        if item.keywords && item.keywords.length
          +Keywords(item.keywords)
        - var downloads = item.downloads
        if downloads
          +Counts(downloads, item.dependedCount)
        - var author = item.author && item.author.name
        .updatedAt
          if author
            +FontIcon('fa-user-circle-o mright5') 
            if currentAuthor === author
              a.author.selected.mright10(href=URL('/')) #{author}
            else
              a.author.mright10(href=URL(`/?author=${encodeURIComponent(author)}`)) #{author}
          span Published #{moment(item.latest.time).fromNow()} 

mixin HeaderView()
  header.header-wrapper
    .header-content
      .logo
        a(href=URL('/')) npm trend 
      .search-box: .search-component
        button.search(value='search')
          +FontIcon('fa-search')
        a.clear(href='javascript:;')
          +FontIcon('fa-times')
        input(type='text', placeholder='Search modules you want')
      .functions
        a(href='javascript:;', title='Show the filter').filter
          +FontIcon('fa-filter')
        a(href='https://github.com/vicanso/npm-trend', title='Fork me')
          +FontIcon('fa-github')
        a.login.hidden(href=URL('/api/users/login'), title='Login')
          +FontIcon('fa-sign-in')
        a.user.hidden(href='javascript:;', title='Logout')
    .user-functions.tooltip.hidden
      .arrow-up
      .arrow-up-shadow
      ul
        li
          a.my-stars(href='javascript:;')
            +FontIcon('fa-star mright5')
            | My Stars
        li
          a.npm-trends(href='javascript:;')
            +FontIcon('fa-line-chart mright5 font12')
            | NPM Stats
        li
          a.logout(href='javascript:;')
            +FontIcon('fa-sign-out mright5')
            | Logout
      

mixin FilterView()
  .filter-wrapper.hidden
    mixin FilterItems(data)
      each desc, key in data 
        li: a(data-key=key, href='javascript:;') #{desc}
    ul(data-type='sort')
      li.name
        +FontIcon('fa-sort')
        | SortBy
      +FilterItems(viewData.sorts)
    ul(data-type='updated')
      li.name
        +FontIcon('fa-magic')
        | UpdatedAt
      +FilterItems(viewData.updatedAt)
    ul(data-type='created')
      li.name
        +FontIcon('fa-plus-square')
        | CreatedAt
      +FilterItems(viewData.createdAt)
    a.reset(href='javascript:;') Reset
block bodyContainer
  .home-view
    +HeaderView()
    +FilterView()
    .modules-count-wrapper There are
      span.count --
      | moudles.
    .modules-wrapper
      - var modules = viewData.modules;
      if !modules || !modules.length
        p.tac
          +FontIcon('fa-exclamation-triangle mright5')
          | No modules found
      else
        +Modules(modules)
  - importer.import('/css/home.css')
