include ./utils

doctype html
html(lang='zh-CN')
  head
    meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name="HandheldFriendly", content="True")
    meta(name="viewport", content="width=device-width, initial-scale=1, user-scalable=no")
    meta(http-equiv="cleartype", content="on")
    meta(name='keywords', content='npm,node_module,trend')
    meta(name='description', content='Get the trend of node_modules')
    meta(name='author', content='Tree.Xie')
    link(ref='icon', type='image/x-icon', href='https://assets-cdn.github.com/favicon.ico')
    link(href='https://fonts.googleapis.com/icon?family=Material+Icons', rel='stylesheet')
    link(href='https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900', rel='stylesheet')
    link(href='https://fonts.googleapis.com/css?family=Oleo+Script:700', rel='stylesheet')
    title #{title}
    include ./inlinejs
    
    //CSS_FILES_CONTAINER
    - importer.import('/css/font-awesome.min.css', '/css/pure.min.css', '/css/global.css')
  body
    block bodyContainer

    footer.footer-wrapper
      a(href="www.miitbeian.gov.cn").mright5 粤ICP备17025766号
      span © #{new Date().getFullYear()} Tree.Xie (Something or nothing)
  if viewData && viewData.globals
    script.
      window.JT_GLOBALS = !{JSON.stringify(viewData.globals)};

  script.
    TIMING.end('html')
    TIMING.start('js')
  //JS_FILES_CONTAINER
  script.
    TIMING.end('js')
  - importer.import('/bundle/vendor.js', '/bundle/app.js')